header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

header .logo {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    font-family: 'Brush Script MT', cursive;
}

header .navbar {
    margin-right: 190px;
    margin-top: 7px;
}

header .navbar a {
    padding: 0 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header .navbar a:hover {
    text-decoration: underline;
    color: grey;
}

.home {
    background-image: url('/image/Fitness Gym Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}