body{
    margin: 0px;
}
#header{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}
.list ul{
    list-style: none;
    display: flex;
}

#logo{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list li{
    padding: 0 15px;
}
.list a{
    text-decoration: none;
    text-underline: none;
    transition: background-color 0.3s ease,color 0.3s ease;
    padding: 10px 15px;
    color: white;
    /*display: block;*/
}

.list a:hover{
    background-color: white;
    color: #333333;
}

#hero {
    background-image: url('/image/Fitness Gym Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*@media (max-width: 768px) {*/
/*    .list ul{*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*    .list a {*/
/*        padding: 15px 0;*/
/*    }*/
/*}*/